:root {
    --main-color: #f29f05;
    --duration: .5s;
}
.landing .image {
    width: 500px;
    height: 500px;
    border: 7px solid #fff;
}
.landing .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(10deg);
}
.mession .image {
    width: 70%;
}
.mession .image img {
    max-width: 100%;
}
.mession h2 {
    width: 500px;
}
.service .title {
    width: 200px;
}
.service .box:hover > * {
    color: white;
}
.wait .image {
    border: 10px solid var(--main-color);
    transform: rotate(10deg);
}
.wait .image a {
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
    z-index: 10;
}
.wait .image img {
    transform: rotate(-10deg);
}
.team .image::before {
    content: "";
    width: 100%;
    height: 90%;
    background-color: #fcfcfc;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 40px;
}
.team img {
    max-width: 100%;
}
.team .icons .icon {
    border: 1px solid #777;
}
.tast .box .holder img {
    border: 10px solid #fcfcfc;
}
.tast .box .holder {
    bottom: -70px;
}
.menu-favorite {
    background-image: url(../imgs/latest-food-1.jpg);
    background-size: cover;
}
.menu-favorite::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f29f05ca;
    position: absolute;
    top: 0;
    left: 0;
}
.menu-favorite .box {
    width: 800px;
}
.menu-favorite .box > div {
    width: 90%;
}
.menu-favorite .box > div .input-box {
    flex: 1;
}
.menu-favorite .box > div input {
    border: none;
    outline: none;
}
.menu-favorite .box > div a {
    border: 2px solid black;
}
.menu-favorite .box > div a:hover {
    background-color: transparent;
}